In [1]:
# this is an example of a python notebook
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        'color':['red','green','blue'],
        'values':[1,2,3]
    }
)

In [7]:
df

   color  values
0    red       1
1  green       2
2   blue       3